In [1]:
pip install pandas sqlalchemy pyodbc

Requirement already satisfied: pandas in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (2.0.41)
Requirement already satisfied: pyodbc in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (5.2.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (from sqlalchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: six>=1.5 in c:\users\naren\desktop\new_ds\sql_python\sql_python_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Load CSV (no extension shown, so add manually)
df = pd.read_csv(r"C:\Users\naren\Desktop\New_DS\SQL_Python\data\customers.csv")

# Connect to SQL Server
engine = create_engine(
    "mssql+pyodbc://NARENDRA\\SQLEXPRESS/sql_to_python?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

# Upload to SQL Server (auto-creates table)
df.to_sql(name="customers", con=engine, if_exists="replace", index=False)

print("✅ 'customers.csv' uploaded to SQL Server table 'customers'")

✅ 'customers.csv' uploaded to SQL Server table 'customers'

In [2]:
import pandas as pd
import os
from sqlalchemy import create_engine

# 1. Folder path containing CSV files
folder_path = r"C:\Users\naren\Desktop\New_DS\SQL_Python\data"

# 2. List of CSV file base names (same as table names)
table_names = ["customers", "geolocation", "order_items", "orders", "payments", "products", "sellers"]

# 3. SQL Server connection string
engine = create_engine(
    "mssql+pyodbc://NARENDRA\\SQLEXPRESS/sql_to_python?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

# 4. Loop to load and upload each CSV
for table in table_names:
    file_path = os.path.join(folder_path, f"{table}.csv")
    try:
        df = pd.read_csv(file_path)
        df.to_sql(name=table, con=engine, if_exists="replace", index=False)
        print(f"✅ Uploaded: {table}")
    except Exception as e:
        print(f"❌ Failed: {table} — {e}")

✅ Uploaded: customers
✅ Uploaded: geolocation
✅ Uploaded: order_items
✅ Uploaded: orders
✅ Uploaded: payments
✅ Uploaded: products
✅ Uploaded: sellers

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Use SQLAlchemy engine (instead of pyodbc)
engine = create_engine(
    "mssql+pyodbc://NARENDRA\\SQLEXPRESS/sql_to_python?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

# Query the customers table
query = "SELECT * FROM customers"
df = pd.read_sql(query, engine)

print(df.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

#  Get top 5 cities with most customers

In [13]:
import pandas as pd
from sqlalchemy import create_engine

# Create SQLAlchemy engine (no warning)
engine = create_engine(
    "mssql+pyodbc://NARENDRA\\SQLEXPRESS/sql_to_python?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

# Your SQL query
query = """
SELECT customer_city, COUNT(*) AS total
FROM customers
GROUP BY customer_city
ORDER BY total DESC
"""

# Run query with pandas
df = pd.read_sql(query, engine)

# Show result
print(df.head())

    customer_city  total
0       sao paulo  15540
1  rio de janeiro   6882
2  belo horizonte   2773
3        brasilia   2131
4        curitiba   1521