1. collect all data 

2. we need all data in the table form in SQL via using the python.

3. connnect the python and sql server in the csv_to_sql.ipynb.

4.